{% extends 'Base.html' %}
{% load static %}


{% block content %}
    
    <div class="list_wai">
    	<div class="list_main">
        	<div class="route">当前位置: <a href="http://www.wdmcake.cn/">首页</a> <code>&gt;</code> <a href="http://www.wdmcake.cn/category-1.html">蛋糕</a></div>
  
                       <div class="classify">
            	<div class="classify_text">蛋糕分类:</div>
                <ul>
                                        <li class="li1" style="display:none;"><a href="http://www.wdmcake.cn/category-1.html">不限</a></li>
                                        <li><a href="http://www.wdmcake.cn/category-43.html">【新品上市】</a></li>
                                        <li><a href="http://www.wdmcake.cn/category-2.html">天然奶油蛋糕</a></li>
                                        <li><a href="http://www.wdmcake.cn/category-12.html">法式蛋糕</a></li>
                                        <li><a href="http://www.wdmcake.cn/category-4.html">乳酪蛋糕</a></li>
                                        <li><a href="http://www.wdmcake.cn/category-3.html">慕斯蛋糕</a></li>
                                        <li><a href="http://www.wdmcake.cn/category-5.html">巧克力风味蛋糕</a></li>
                                        <li><a href="http://www.wdmcake.cn/category-7.html">大型庆典蛋糕</a></li>
                                    </ul>
            </div>			
                       
            			           <div class="list">
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1571.html" title="" target="_blank"><img src="./蛋糕_files/859_G_1516222411653.jpg" alt="甜蜜时光蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1571.html" target="_blank">甜蜜时光蛋糕 Tiramisu</a></div>
                        <div class="goods_depict">/100%使用进口干酪与100%使用进口天然稀奶油搭配一起，使得意式风情的甜蜜时光更是浪漫/</div>
                                    <div class="goods_summary">
                订购提示：<br>
1.Φ15cm、Φ20cm规格可提前3小时预订（数量有限），其他规格请提前一天16:00前预订。<br>
2.蛋糕上的“Tiramisu”字样为固定模具，故不能修改，请谅解，谢谢~            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="859"><img src="./蛋糕_files/like.png"></a><span class="like_num">69310</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price  price_promote" style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">194</span>
				<ul id="price_right">
					<li id="wei">原价：￥228.00</li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ20cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(859,0,1571)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1571.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1627.html" title="" target="_blank"><img src="./蛋糕_files/887_G_1518130508349.jpg" alt="大黑爱小白蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1627.html" target="_blank">大黑爱小白蛋糕 Cute Pink Cream Cake</a></div>
                        <div class="goods_depict">/大黑的世界，只有小白能懂，甜蜜的童话在100%使用天然稀奶油的保护下更是多彩缤纷/</div>
                                    <div class="goods_summary">
                五环内3小时免费送达            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="887"><img src="./蛋糕_files/like.png"></a><span class="like_num">56931</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">228</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ15cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(887,0,1627)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1627.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2361.html" title="" target="_blank"><img src="./蛋糕_files/1749_G_1542942299153.jpg" alt="经典黑森林蛋糕【推荐款】"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2361.html" target="_blank">经典黑森林蛋糕【推荐款】 Classic Black Forest Cake</a></div>
                        <div class="goods_depict">/100%使用进口天然稀奶油，与樱桃层层融合。/</div>
                                    <div class="goods_summary">
                订购提示：<br>
Φ15cm、Φ20cm规格可提前3小时预订（数量有限），其他规格请提前一天16:00前预订。            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="1749"><img src="./蛋糕_files/like.png"></a><span class="like_num">175197</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">228</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ20cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(1749,0,2361)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2361.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-25.html" title="" target="_blank"><img src="./蛋糕_files/7_G_1525840836372.jpg" alt="缤纷盛果蛋糕【生日推荐款】"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-25.html" target="_blank">缤纷盛果蛋糕【生日推荐款】 Profusion Fruit</a></div>
                        <div class="goods_depict">/100%使用进口天然稀奶油；搭配丰富的水果。
/</div>
                                    <div class="goods_summary">
                五环内3小时免费送达            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="7"><img src="./蛋糕_files/like.png"></a><span class="like_num">197679</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">308</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ25cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(7,0,25)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-25.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-47.html" title="" target="_blank"><img src="./蛋糕_files/13_G_1528830178941.jpg" alt="经典100%蛋糕【生日推荐款】"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-47.html" target="_blank">经典100%蛋糕【生日推荐款】 Classical Natural Cream</a></div>
                        <div class="goods_depict">/100%使用进口天然稀奶油；奶油丰富，简约时尚，享受经典原味。
/</div>
                                    <div class="goods_summary">
                五环内3小时免费送达            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="13"><img src="./蛋糕_files/like.png"></a><span class="like_num">307742</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">218</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ20cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(13,0,47)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-47.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1585.html" title="" target="_blank"><img src="./蛋糕_files/865_G_1525828656116.jpg" alt="萌萌兔蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1585.html" target="_blank">萌萌兔蛋糕 Cute  Rabbit</a></div>
                        <div class="goods_depict">/呆萌兔儿的梦想很简单，就是吃口100%使用进口天然稀奶油的香甜/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="865"><img src="./蛋糕_files/like.png"></a><span class="like_num">63907</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">248</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ20cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(865,0,1585)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1585.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2027.html" title="" target="_blank"><img src="./蛋糕_files/1177_G_1536530069217.jpg" alt="分享蛋糕【聚会推荐款】"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2027.html" target="_blank">分享蛋糕【聚会推荐款】</a></div>
                        <div class="goods_depict">/100%使用进口天然稀奶油，四种口味四种色彩纵享分享的快乐/</div>
                                    <div class="goods_summary">
                五环内3小时免费送达            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="1177"><img src="./蛋糕_files/like.png"></a><span class="like_num">5712</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">168</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/11×11cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(1177,0,2027)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2027.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1579.html" title="" target="_blank"><img src="./蛋糕_files/863_G_1521574234652.jpg" alt="福寿绵长蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1579.html" target="_blank">福寿绵长蛋糕 Happiness  and  Longevity</a></div>
                        <div class="goods_depict">/100%使用进口天然稀奶油的长寿祝福，绵延整个南山/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="863"><img src="./蛋糕_files/like.png"></a><span class="like_num">69346</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">228</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ20cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(863,0,1579)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1579.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1590.html" title="" target="_blank"><img src="./蛋糕_files/866_G_1525828779067.jpg" alt="咩咩羊蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1590.html" target="_blank">咩咩羊蛋糕 Sheep   Almond</a></div>
                        <div class="goods_depict">/小羊的聪明才智来源于不断地尝试，不断地创新，不断地发掘100%使用进口天然稀奶油的美味所在/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="866"><img src="./蛋糕_files/like.png"></a><span class="like_num">67906</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">228</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ20cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(866,0,1590)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1590.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1630.html" title="" target="_blank"><img src="./蛋糕_files/888_G_1528764729894.jpg" alt="草莓公主蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1630.html" target="_blank">草莓公主蛋糕 Strawberry Princess Cake</a></div>
                        <div class="goods_depict">/娇艳欲滴草莓公主，在100%使用天然稀奶油的陪衬下鲜美无比，似乎每个人都想咬上一口/</div>
                                    <div class="goods_summary">
                五环内3小时免费送达            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="888"><img src="./蛋糕_files/like.png"></a><span class="like_num">56783</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">228</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ20cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(888,0,1630)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1630.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2573.html" title="" target="_blank"><img src="./蛋糕_files/1945_G_1551820601806.jpg" alt="盛夏果实蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2573.html" target="_blank">盛夏果实蛋糕</a></div>
                        <div class="goods_depict">/草莓的吻痕与天然稀奶油一起直达味蕾，清香甘甜的感觉立即遍布全身，稍后与舌尖的点点坚果香碰撞，岂是一个“美”字了得/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="1945"><img src="./蛋糕_files/like.png"></a><span class="like_num">3965</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">248</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/16x16cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(1945,0,2573)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2573.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-34.html" title="" target="_blank"><img src="./蛋糕_files/9_G_1525828284253.jpg" alt="华尔兹蛋糕【推荐款】"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-34.html" target="_blank">华尔兹蛋糕【推荐款】 Waltz Almond </a></div>
                        <div class="goods_depict">/100%使用进口天然稀奶油；搭配进口扁桃仁片。/</div>
                                    <div class="goods_summary">
                订购提示：Φ20cm规格可提前2小时预订（数量有限），其他规格请提前4小时预订。
            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="9"><img src="./蛋糕_files/like.png"></a><span class="like_num">167622</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">228</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ20cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(9,0,34)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-34.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-265.html" title="" target="_blank"><img src="./蛋糕_files/47_G_1525828170872.jpg" alt="富贵天喜蛋糕【祝寿推荐款】"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-265.html" target="_blank">富贵天喜蛋糕【祝寿推荐款】 Riches&amp;Honour</a></div>
                        <div class="goods_depict">/100%使用进口天然稀奶油；福寿绵延，祝寿好礼。/</div>
                                    <div class="goods_summary">
                五环内3小时免费送达            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="47"><img src="./蛋糕_files/like.png"></a><span class="like_num">132274</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">228</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ20cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(47,0,265)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-265.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1583.html" title="" target="_blank"><img src="./蛋糕_files/864_G_1516220571435.jpg" alt="花漾蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1583.html" target="_blank">花漾蛋糕</a></div>
                        <div class="goods_depict">/100%使用进口天然稀奶油的香气随风而至，傲娇的味蕾再也按耐不住，心花朵朵开/</div>
                                    <div class="goods_summary">
                五环内3小时免费送达            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="864"><img src="./蛋糕_files/like.png"></a><span class="like_num">29745</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">248</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ20cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(864,0,1583)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1583.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2574.html" title="" target="_blank"><img src="./蛋糕_files/1946_G_1551820994838.jpg" alt="芒果多多蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2574.html" target="_blank">芒果多多蛋糕</a></div>
                        <div class="goods_depict">/“芒”起来才果实，“芒”起来才有收获，加上草莓的亲吻，还不快感谢师傅们的巧夺天工/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="1946"><img src="./蛋糕_files/like.png"></a><span class="like_num">3568</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">248</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/16*16cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(1946,0,2574)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2574.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2678.html" title="" target="_blank"><img src="./蛋糕_files/2048_G_1553191864710.jpg" alt="暗香蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2678.html" target="_blank">暗香蛋糕</a></div>
                        <div class="goods_depict">/三层巧克力蛋糕坯，双层巧克力奶油，每一块都那么均匀那么平整，逐渐成为聚会分享爆款/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="2048"><img src="./蛋糕_files/like.png"></a><span class="like_num">2499</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">258</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/16*16cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(2048,0,2678)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2678.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1593.html" title="" target="_blank"><img src="./蛋糕_files/867_G_1516219672819.jpg" alt="童梦奇缘蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1593.html" target="_blank">童梦奇缘蛋糕 Childhood  Dream</a></div>
                        <div class="goods_depict">/孩子们都有个游乐园般的欢乐梦想，就是被100%使用进口天然稀奶油做成的礼物包围。（产品以实物为准）/</div>
                                    <div class="goods_summary">
                五环内3小时免费送达            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="867"><img src="./蛋糕_files/like.png"></a><span class="like_num">56809</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">198</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ15cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(867,0,1593)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1593.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2575.html" title="" target="_blank"><img src="./蛋糕_files/1947_G_1551821264131.jpg" alt="雪域森林蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2575.html" target="_blank">雪域森林蛋糕</a></div>
                        <div class="goods_depict">/巧克力的甜美，奥利奥的童年，你的那片雪域森林梦想实现了吗？尝过了100%使用进口天然稀奶油的甜美吗？/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="1947"><img src="./蛋糕_files/like.png"></a><span class="like_num">3597</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">258</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/16x16cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(1947,0,2575)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2575.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1641.html" title="" target="_blank"><img src="./蛋糕_files/891_G_1518130366784.jpg" alt="巧克力盛宴蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1641.html" target="_blank">巧克力盛宴蛋糕 Chocolate  Banguet  Cake</a></div>
                        <div class="goods_depict">/巧克力奶油天堂，每一口都能尝到巧克力的香甜，每一口都有100%使用进口天然稀奶油的自然味道
/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="891"><img src="./蛋糕_files/like.png"></a><span class="like_num">96352</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">228</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ15cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(891,0,1641)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1641.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2677.html" title="" target="_blank"><img src="./蛋糕_files/2047_G_1553190170403.jpg" alt="草莓芳芳蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2677.html" target="_blank">草莓芳芳蛋糕</a></div>
                        <div class="goods_depict">/100%使用进口天然稀奶油，匠心凝制而成原味蛋糕坯，四周粘有薄脆碎饼干，表层小心翼翼的挤出天然稀奶油球，搭配红艳草莓，春日的音符不禁四散开来/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="2047"><img src="./蛋糕_files/like.png"></a><span class="like_num">2693</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">248</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/16*16cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(2047,0,2677)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2677.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2679.html" title="" target="_blank"><img src="./蛋糕_files/2049_G_1553192164289.jpg" alt="草莓颂歌蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2679.html" target="_blank">草莓颂歌蛋糕</a></div>
                        <div class="goods_depict">/粉粉嫩嫩一座城，一口下去，鲜滑草莓汁滋润心扉，甜蜜奶油陶醉味蕾，妙不可言地期盼下一口/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="2049"><img src="./蛋糕_files/like.png"></a><span class="like_num">2367</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">248</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/16*16cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(2049,0,2679)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2679.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-810.html" title="" target="_blank"><img src="./蛋糕_files/244_G_1525829210012.jpg" alt="森林狂想曲蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-810.html" target="_blank">森林狂想曲蛋糕 Chocolate and Cherry &amp; Berry</a></div>
                        <div class="goods_depict">/100%使用进口天然稀奶油，简单时尚的“裸”蛋糕
/</div>
                                    <div class="goods_summary">
                订购提示：Φ13cm、Φ18cm规格可提前3小时预订（数量有限），其他规格请提前一天16:00前预订。            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="244"><img src="./蛋糕_files/like.png"></a><span class="like_num">111280</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">228</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ18cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(244,0,810)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-810.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1723.html" title="" target="_blank"><img src="./蛋糕_files/960_G_1524880568643.jpg" alt="芭蕾公主蛋糕【奶油季专款】"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1723.html" target="_blank">芭蕾公主蛋糕【奶油季专款】</a></div>
                        <div class="goods_depict">/可爱的芭蕾公主，凭借曼妙舞姿，在100%使用进口天然稀奶油造就的舞台上，荣获众多鲜花和掌声。/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="960"><img src="./蛋糕_files/like.png"></a><span class="like_num">569739</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">198</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ15cm </li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(960,0,1723)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1723.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1597.html" title="" target="_blank"><img src="./蛋糕_files/868_G_1522013568990.jpg" alt="莓果芝士蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1597.html" target="_blank">莓果芝士蛋糕 Raspberry &amp; Strawberry Cheese</a></div>
                        <div class="goods_depict">/粉色记忆弥足珍贵，100%使用进口干酪的甜美瞬间更是稀少，此时的莓果祝福注定不能少/</div>
                                    <div class="goods_summary">
                订购提示：请提前一天16:00前预订            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="868"><img src="./蛋糕_files/like.png"></a><span class="like_num">56672</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">228</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ15cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(868,0,1597)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1597.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1575.html" title="" target="_blank"><img src="./蛋糕_files/861_G_1516222452079.jpg" alt="轻柔芝士蛋糕【首推3小时】"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1575.html" target="_blank">轻柔芝士蛋糕【首推3小时】 Light  Cheese</a></div>
                        <div class="goods_depict">/100%使用进口干酪的轻柔，表达着赤诚的真心，感动你我/</div>
                                    <div class="goods_summary">
                订购提示：直径18cm可提前3小时预订，其他规格请提前一天16:00前预订            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="861"><img src="./蛋糕_files/like.png"></a><span class="like_num">36983</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">228</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ18cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(861,0,1575)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1575.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1726.html" title="" target="_blank"><img src="./蛋糕_files/963_G_1524880902954.jpg" alt="少女梦蛋糕【奶油季专款】"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1726.html" target="_blank">少女梦蛋糕【奶油季专款】</a></div>
                        <div class="goods_depict">/美丽佳人要搭配魅力蛋糕，100%使用进口天然稀奶油，草莓，棉花糖点燃少女心送给不老女神。/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="963"><img src="./蛋糕_files/like.png"></a><span class="like_num">27635</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">228</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ20cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(963,0,1726)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1726.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1646.html" title="" target="_blank"><img src="./蛋糕_files/893_G_1518130311739.jpg" alt="魔法森林蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1646.html" target="_blank">魔法森林蛋糕 Black Forest Cake</a></div>
                        <div class="goods_depict">/被100%使用天然稀奶油施了魔法的森林，将毕生的甜美凝于一处，静等有缘人/</div>
                                    <div class="goods_summary">
                订购提示：请提前1天16:00前预订            </div>
                  
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="893"><img src="./蛋糕_files/like.png"></a><span class="like_num">66929</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">208</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/16×16cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(893,0,1646)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1646.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1577.html" title="" target="_blank"><img src="./蛋糕_files/862_G_1521575019305.jpg" alt="聚福蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1577.html" target="_blank">聚福蛋糕 Good  Fortune</a></div>
                        <div class="goods_depict">/儿孙满堂的天伦之乐，<br>
只有100%使用进口天然稀奶油的甜才能表达/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="862"><img src="./蛋糕_files/like.png"></a><span class="like_num">59691</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:260px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">498</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ15cm+Φ25cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(862,0,1577)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1577.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1644.html" title="" target="_blank"><img src="./蛋糕_files/892_G_1518130337157.jpg" alt="奶油芒果蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1644.html" target="_blank">奶油芒果蛋糕 Mango Cream Cake</a></div>
                        <div class="goods_depict">/100%使用天然稀奶油的甜美，在金黄芒果热情熏染下别有一番风味/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="892"><img src="./蛋糕_files/like.png"></a><span class="like_num">26955</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">198</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/16×16cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(892,0,1644)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1644.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-1709.html" title="" target="_blank"><img src="./蛋糕_files/946_G_1525842250338.jpg" alt="狮子王蛋糕"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-1709.html" target="_blank">狮子王蛋糕</a></div>
                        <div class="goods_depict">/森林之王的霸气秘籍，在于巧妙运用100%使用进口天然稀奶油的甜蜜，统领整片森林/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="946"><img src="./蛋糕_files/like.png"></a><span class="like_num">569351</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;             width:260px;                                                    ">
				<span id="yprice">￥</span>
				<span id="new">498</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/Φ15cm+Φ25cm</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(946,0,1709)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-1709.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-148.html" title="" target="_blank"><img src="./蛋糕_files/27_G_1531163737192.jpg" alt="福寿延年"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-148.html" target="_blank">福寿延年 Happiness And Longevity</a></div>
                        <div class="goods_depict">/100%使用进口天然稀奶油，多桃多寿。/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="27"><img src="./蛋糕_files/like.png"></a><span class="like_num">61934</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">1299</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/3层</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(27,0,148)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-148.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-159.html" title="" target="_blank"><img src="./蛋糕_files/28_G_1531163506609.jpg" alt="盛宴"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-159.html" target="_blank">盛宴 Grand Banquet</a></div>
                        <div class="goods_depict">/时尚风行的杯子蛋糕/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="28"><img src="./蛋糕_files/like.png"></a><span class="like_num">62197</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">599</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/4层</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(28,0,159)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-159.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="goods_img"><a href="http://www.wdmcake.cn/product-153.html" title="" target="_blank"><img src="./蛋糕_files/26_G_1531163685230.jpg" alt="挚爱一生"></a></div>
    <div class="goods_info">
        <div class="goods_info_text">
            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-153.html" target="_blank">挚爱一生 Love You Lifetime</a></div>
                        <div class="goods_depict">/挚爱一生，见证此刻幸福，天然奶油的甜蜜祝福，由味道铭记。/</div>
                              
        </div>
        <div class="goods_operate">
            <div class="like red"><a href="javascript:;" class="icon_like" t="26"><img src="./蛋糕_files/like.png"></a><span class="like_num">82272</span>人喜欢</div>
            <div class="clear"></div>
            <div class="price " style="height:30px;margin-top:40px;width:230px;                                                                 ">
				<span id="yprice">￥</span>
				<span id="new">1299</span>
				<ul id="price_right">
					<li id="wei"></li>
					<li id="pro"><span id="pro_wei">.00</span>/3层</li>
				</ul>
			</div>
            <div class="sub">
                <div class="submit_goods"><a href="javascript:addToCart(26,0,153)">立即购买</a></div>
                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-153.html" title="" target="_blank">查看详情</a></div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="Text/Javascript" language="JavaScript">
<!--
function selectPage(sel)
{
  sel.form.submit();
}
//-->
</script>
<script type="text/javascript">
var button_compare = '';
var exist = "您已经选择了%s";
var count_limit = "最多只能选择4个商品进行对比";
var goods_type_different = "\"%s\"和已选择商品类型不同无法进行对比";
var compare_no_goods = "您没有选定任何需要比较的商品或者比较的商品数少于 2 个。";
var btn_buy = "购买";
var is_cancel = "取消";
var select_spe = "请选择商品属性";
$(document).ready(function(){
	$(".icon_like").click(function(){
		
		var id = $(this).attr("t");		
		var obj_num = $(this).siblings(".like_num");		
		$.ajax({
				   type:"POST",
				   url:"ajax.php?act=cake_like",
				   data:"gid=" +  id,
				   dataType:"json",
				   success:function(res){
					 if(res.error >0)
					 {
					  jAlert(res.msg);	 
					 }
					 else
					 {
						obj_num.text(res.num);  	 
					 }		   
				   }
		  });
	
	});
});
</script> 
            <div class="page">
            	<div class="page_count">总计：33&nbsp;&nbsp;|&nbsp;&nbsp;共1页</div>
                
            </div>
        </div>
    </div>   




{% endblock %}