{% extends 'Base.html' %}
{% load static %}


{% block content %}

    <div class="list_wai">
        <div class="list_main">
            <div class="route">当前位置: <a href="http://www.wdmcake.cn/">首页</a> <code>&gt;</code> <a
                    href="http://www.wdmcake.cn/category-10.html">法式月饼</a></div>


            <div class="list">
                <div class="goods">
                    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2909.html" title=""
                                              target="_blank"><img src="./月饼_files/2224_G_1564078163778.jpg"
                                                                   alt="寻梦巴黎礼盒月饼5粒装【抢先预定中】"></a></div>
                    <div class="goods_info">
                        <div class="goods_info_text">
                            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2909.html"
                                                       target="_blank">寻梦巴黎礼盒月饼5粒装【抢先预定中】</a></div>
                            <div class="goods_depict">/法式朗姆提子乳酪月饼50g×1<br>
                                法式流心蛋黄月饼50g×1<br>
                                法式提拉米苏月饼50g×1<br>
                                法式榛子巧克力月饼50g×1<br>
                                法式玫瑰乳酪月饼50g×1/
                            </div>
                            <div class="goods_summary">
                                订购提示：
                                1、预售时间:8月2日-8月12日；
                                2、发货时间：8月10-12日开始陆续发货；
                                3、中秋节期间，由于订单量较大，无法满足指定快递、指定时间发货；
                                4、月饼属于节日季节性产品，独立仓库发货，尽量不要与其他品类一起下单，否则，会拆多单，且发货会有延迟。
                            </div>

                        </div>
                        <div class="goods_operate">
                            <div class="like red"><a href="javascript:;" class="icon_like" t="2224"><img
                                    src="{% static 'images/like.png' %}"></a><span class="like_num">266</span>人喜欢
                            </div>
                            <div class="clear"></div>
                            <div class="price  price_promote"
                                 style="height:30px;margin-top:40px;width:230px;                                                                 ">
                                <span id="yprice">￥</span>
                                <span id="new">79</span>
                                <ul id="price_right">
                                    <li id="wei">原价：￥118.00</li>
                                    <li id="pro"><span id="pro_wei">.00</span></li>
                                </ul>
                            </div>
                            <div class="sub">
                                <div class="submit_goods"><a href="javascript:addToCart(2224,0,2909)">立即购买</a></div>
                                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2909.html" title=""
                                                             target="_blank">查看详情</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods">
                    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2915.html" title=""
                                              target="_blank"><img src="./月饼_files/2230_G_1564163755844.jpg"
                                                                   alt="邂逅巴黎礼盒月饼8粒装【抢先预定中】"></a></div>
                    <div class="goods_info">
                        <div class="goods_info_text">
                            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2915.html"
                                                       target="_blank">邂逅巴黎礼盒月饼8粒装【抢先预定中】</a></div>
                            <div class="goods_depict">/法式朗姆提子乳酪月饼×1<br>
                                法式蓝莓月饼×2<br>
                                法式流心蛋黄月饼×1<br>
                                法式提拉米苏月饼×1<br>
                                法式榛子巧克力月饼×1<br>
                                法式玫瑰乳酪月饼×2/
                            </div>
                            <div class="goods_summary">
                                订购提示：
                                1、预售时间:7月29日-8月12日；
                                2、发货时间：8月10-12日开始陆续发货；
                                3、中秋节期间，由于订单量较大，无法满足指定快递、指定时间发货；
                                4、月饼属于节日季节性产品，独立仓库发货，尽量不要与其他品类一起下单，否则，会拆多单，且发货会有延迟。
                            </div>

                        </div>
                        <div class="goods_operate">
                            <div class="like red"><a href="javascript:;" class="icon_like" t="2230"><img
                                    src="./月饼_files/like.png"></a><span class="like_num">256</span>人喜欢
                            </div>
                            <div class="clear"></div>
                            <div class="price  price_nr"
                                 style="height:30px;margin-top:40px;width:230px;                                                                 ">
                                <span id="yprice">￥</span>
                                <span id="new">168</span>
                                <ul id="price_right">
                                    <li id="wei"></li>
                                    <li id="pro"><span id="pro_wei">.00</span></li>
                                </ul>
                            </div>
                            <div class="sub">
                                <div class="submit_goods"><a href="javascript:addToCart(2230,0,2915)">立即购买</a></div>
                                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2915.html" title=""
                                                             target="_blank">查看详情</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods">
                    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2914.html" title=""
                                              target="_blank"><img src="./月饼_files/2229_G_1564163211265.jpg"
                                                                   alt="浓情巴黎礼盒月饼8粒装【抢先预定中】"></a></div>
                    <div class="goods_info">
                        <div class="goods_info_text">
                            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2914.html"
                                                       target="_blank">浓情巴黎礼盒月饼8粒装【抢先预定中】</a></div>
                            <div class="goods_depict">/法式朗姆提子乳酪月饼×1<br>
                                法式蓝莓月饼×2<br>
                                法式流心蛋黄月饼×1<br>
                                法式提拉米苏月饼×1<br>
                                法式榛子巧克力月饼×1<br>
                                法式玫瑰乳酪月饼×2/
                            </div>
                            <div class="goods_summary">
                                订购提示：
                                1、预售时间:7月29日-8月12日；
                                2、发货时间：8月10-12日开始陆续发货；
                                3、中秋节期间，由于订单量较大，无法满足指定快递、指定时间发货；
                                4、月饼属于节日季节性产品，独立仓库发货，尽量不要与其他品类一起下单，否则，会拆多单，且发货会有延迟。
                            </div>

                        </div>
                        <div class="goods_operate">
                            <div class="like red"><a href="javascript:;" class="icon_like" t="2229"><img
                                    src="./月饼_files/like.png"></a><span class="like_num">246</span>人喜欢
                            </div>
                            <div class="clear"></div>
                            <div class="price  price_nr"
                                 style="height:30px;margin-top:40px;width:230px;                                                                 ">
                                <span id="yprice">￥</span>
                                <span id="new">168</span>
                                <ul id="price_right">
                                    <li id="wei"></li>
                                    <li id="pro"><span id="pro_wei">.00</span></li>
                                </ul>
                            </div>
                            <div class="sub">
                                <div class="submit_goods"><a href="javascript:addToCart(2229,0,2914)">立即购买</a></div>
                                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2914.html" title=""
                                                             target="_blank">查看详情</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods">
                    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2913.html" title=""
                                              target="_blank"><img src="./月饼_files/2228_G_1564163178857.jpg"
                                                                   alt="绚丽巴黎礼盒月饼8粒装【抢先预定中】"></a></div>
                    <div class="goods_info">
                        <div class="goods_info_text">
                            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2913.html"
                                                       target="_blank">绚丽巴黎礼盒月饼8粒装【抢先预定中】</a></div>
                            <div class="goods_depict">/法式朗姆提子乳酪月饼×1<br>
                                法式蓝莓月饼×2<br>
                                法式流心蛋黄月饼×1<br>
                                法式提拉米苏月饼×1<br>
                                法式榛子巧克力月饼×1<br>
                                法式玫瑰乳酪月饼×2/
                            </div>
                            <div class="goods_summary">
                                订购提示：
                                1、预售时间:7月29日-8月12日；
                                2、发货时间：8月10-12日开始陆续发货；
                                3、中秋节期间，由于订单量较大，无法满足指定快递、指定时间发货；
                                4、月饼属于节日季节性产品，独立仓库发货，尽量不要与其他品类一起下单，否则，会拆多单，且发货会有延迟。
                            </div>

                        </div>
                        <div class="goods_operate">
                            <div class="like red"><a href="javascript:;" class="icon_like" t="2228"><img
                                    src="./月饼_files/like.png"></a><span class="like_num">286</span>人喜欢
                            </div>
                            <div class="clear"></div>
                            <div class="price  price_nr"
                                 style="height:30px;margin-top:40px;width:230px;                                                                 ">
                                <span id="yprice">￥</span>
                                <span id="new">168</span>
                                <ul id="price_right">
                                    <li id="wei"></li>
                                    <li id="pro"><span id="pro_wei">.00</span></li>
                                </ul>
                            </div>
                            <div class="sub">
                                <div class="submit_goods"><a href="javascript:addToCart(2228,0,2913)">立即购买</a></div>
                                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2913.html" title=""
                                                             target="_blank">查看详情</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods">
                    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2916.html" title=""
                                              target="_blank"><img src="./月饼_files/2231_G_1564163939632.jpg"
                                                                   alt="星系巴黎礼盒月饼12粒装【抢先预定中】"></a></div>
                    <div class="goods_info">
                        <div class="goods_info_text">
                            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2916.html"
                                                       target="_blank">星系巴黎礼盒月饼12粒装【抢先预定中】</a></div>
                            <div class="goods_depict">/法式朗姆提子乳酪月饼×2<br>
                                法式蓝莓月饼×2<br>
                                法式流心蛋黄月饼×2<br>
                                法式提拉米苏月饼×2<br>
                                法式榛子巧克力月饼×2<br>
                                法式玫瑰乳酪月饼×2/
                            </div>
                            <div class="goods_summary">
                                订购提示：
                                1、预售时间:7月29日-8月12日；
                                2、发货时间：8月10-12日开始陆续发货；
                                3、中秋节期间，由于订单量较大，无法满足指定快递、指定时间发货；
                                4、月饼属于节日季节性产品，独立仓库发货，尽量不要与其他品类一起下单，否则，会拆多单，且发货会有延迟。
                            </div>

                        </div>
                        <div class="goods_operate">
                            <div class="like red"><a href="javascript:;" class="icon_like" t="2231"><img
                                    src="./月饼_files/like.png"></a><span class="like_num">236</span>人喜欢
                            </div>
                            <div class="clear"></div>
                            <div class="price  price_nr"
                                 style="height:30px;margin-top:40px;width:230px;                                                                 ">
                                <span id="yprice">￥</span>
                                <span id="new">258</span>
                                <ul id="price_right">
                                    <li id="wei"></li>
                                    <li id="pro"><span id="pro_wei">.00</span></li>
                                </ul>
                            </div>
                            <div class="sub">
                                <div class="submit_goods"><a href="javascript:addToCart(2231,0,2916)">立即购买</a></div>
                                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2916.html" title=""
                                                             target="_blank">查看详情</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods">
                    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2912.html" title=""
                                              target="_blank"><img src="./月饼_files/2227_G_1564190275529.jpg"
                                                                   alt="欢聚时光礼盒月饼6粒装【抢先预定中】"></a></div>
                    <div class="goods_info">
                        <div class="goods_info_text">
                            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2912.html"
                                                       target="_blank">欢聚时光礼盒月饼6粒装【抢先预定中】</a></div>
                            <div class="goods_depict">/法式朗姆提子乳酪月饼×1<br>
                                法式蓝莓月饼×1<br>
                                法式流心蛋黄月饼×1<br>
                                法式提拉米苏月饼×1<br>
                                法式榛子巧克力月饼×1<br>
                                法式玫瑰乳酪月饼×1/
                            </div>
                            <div class="goods_summary">
                                订购提示：
                                1、预售时间:7月29日-8月12日；
                                2、发货时间：8月10-12日开始陆续发货；
                                3、中秋节期间，由于订单量较大，无法满足指定快递、指定时间发货；
                                4、月饼属于节日季节性产品，独立仓库发货，尽量不要与其他品类一起下单，否则，会拆多单，且发货会有延迟。
                            </div>

                        </div>
                        <div class="goods_operate">
                            <div class="like red"><a href="javascript:;" class="icon_like" t="2227"><img
                                    src="./月饼_files/like.png"></a><span class="like_num">262</span>人喜欢
                            </div>
                            <div class="clear"></div>
                            <div class="price  price_nr"
                                 style="height:30px;margin-top:40px;width:230px;                                                                 ">
                                <span id="yprice">￥</span>
                                <span id="new">118</span>
                                <ul id="price_right">
                                    <li id="wei"></li>
                                    <li id="pro"><span id="pro_wei">.00</span></li>
                                </ul>
                            </div>
                            <div class="sub">
                                <div class="submit_goods"><a href="javascript:addToCart(2227,0,2912)">立即购买</a></div>
                                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2912.html" title=""
                                                             target="_blank">查看详情</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods">
                    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2911.html" title=""
                                              target="_blank"><img src="./月饼_files/2226_G_1564162735314.jpg"
                                                                   alt="星系巴黎礼盒月饼6粒装【抢先预定中】"></a></div>
                    <div class="goods_info">
                        <div class="goods_info_text">
                            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2911.html"
                                                       target="_blank">星系巴黎礼盒月饼6粒装【抢先预定中】</a></div>
                            <div class="goods_depict">/法式朗姆提子乳酪月饼×1<br>
                                法式蓝莓月饼×1<br>
                                法式流心蛋黄月饼×1<br>
                                法式提拉米苏月饼×1<br>
                                法式榛子巧克力月饼×1<br>
                                法式玫瑰乳酪月饼×1/
                            </div>
                            <div class="goods_summary">
                                订购提示：
                                1、预售时间:7月29日-8月12日；
                                2、发货时间：8月10-12日开始陆续发货；
                                3、中秋节期间，由于订单量较大，无法满足指定快递、指定时间发货；
                                4、月饼属于节日季节性产品，独立仓库发货，尽量不要与其他品类一起下单，否则，会拆多单，且发货会有延迟。
                            </div>

                        </div>
                        <div class="goods_operate">
                            <div class="like red"><a href="javascript:;" class="icon_like" t="2226"><img
                                    src="./月饼_files/like.png"></a><span class="like_num">243</span>人喜欢
                            </div>
                            <div class="clear"></div>
                            <div class="price  price_nr"
                                 style="height:30px;margin-top:40px;width:230px;                                                                 ">
                                <span id="yprice">￥</span>
                                <span id="new">118</span>
                                <ul id="price_right">
                                    <li id="wei"></li>
                                    <li id="pro"><span id="pro_wei">.00</span></li>
                                </ul>
                            </div>
                            <div class="sub">
                                <div class="submit_goods"><a href="javascript:addToCart(2226,0,2911)">立即购买</a></div>
                                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2911.html" title=""
                                                             target="_blank">查看详情</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods">
                    <div class="goods_img"><a href="http://www.wdmcake.cn/product-2910.html" title=""
                                              target="_blank"><img src="./月饼_files/2225_G_1564162403218.jpg"
                                                                   alt="浓情巴黎礼盒月饼6粒装【抢先预定中】"></a></div>
                    <div class="goods_info">
                        <div class="goods_info_text">
                            <div class="goods_name"><a class="color_00" href="http://www.wdmcake.cn/product-2910.html"
                                                       target="_blank">浓情巴黎礼盒月饼6粒装【抢先预定中】</a></div>
                            <div class="goods_depict">/法式朗姆提子乳酪月饼×1<br>
                                法式蓝莓月饼×1<br>
                                法式流心蛋黄月饼×1<br>
                                法式提拉米苏月饼×1<br>
                                法式榛子巧克力月饼×1<br>
                                法式玫瑰乳酪月饼×1/
                            </div>
                            <div class="goods_summary">
                                订购提示：
                                1、预售时间:7月29日-8月12日；
                                2、发货时间：8月10-12日开始陆续发货；
                                3、中秋节期间，由于订单量较大，无法满足指定快递、指定时间发货；
                                4、月饼属于节日季节性产品，独立仓库发货，尽量不要与其他品类一起下单，否则，会拆多单，且发货会有延迟。
                            </div>

                        </div>
                        <div class="goods_operate">
                            <div class="like red"><a href="javascript:;" class="icon_like" t="2225"><img
                                    src="./月饼_files/like.png"></a><span class="like_num">254</span>人喜欢
                            </div>
                            <div class="clear"></div>
                            <div class="price  price_nr"
                                 style="height:30px;margin-top:40px;width:230px;                                                                 ">
                                <span id="yprice">￥</span>
                                <span id="new">118</span>
                                <ul id="price_right">
                                    <li id="wei"></li>
                                    <li id="pro"><span id="pro_wei">.00</span></li>
                                </ul>
                            </div>
                            <div class="sub">
                                <div class="submit_goods"><a href="javascript:addToCart(2225,0,2910)">立即购买</a></div>
                                <div class="submit_goods"><a href="http://www.wdmcake.cn/product-2910.html" title=""
                                                             target="_blank">查看详情</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="Text/Javascript" language="JavaScript">
                <!--
                function selectPage(sel) {
                    sel.form.submit();
                }

                //-->
            </script>
            <script type="text/javascript">
                var button_compare = '';
                var exist = "您已经选择了%s";
                var count_limit = "最多只能选择4个商品进行对比";
                var goods_type_different = "\"%s\"和已选择商品类型不同无法进行对比";
                var compare_no_goods = "您没有选定任何需要比较的商品或者比较的商品数少于 2 个。";
                var btn_buy = "购买";
                var is_cancel = "取消";
                var select_spe = "请选择商品属性";
                $(document).ready(function () {
                    $(".icon_like").click(function () {

                        var id = $(this).attr("t");
                        var obj_num = $(this).siblings(".like_num");
                        $.ajax({
                            type: "POST",
                            url: "ajax.php?act=cake_like",
                            data: "gid=" + id,
                            dataType: "json",
                            success: function (res) {
                                if (res.error > 0) {
                                    jAlert(res.msg);
                                } else {
                                    obj_num.text(res.num);
                                }
                            }
                        });

                    });
                });
            </script>
            <div class="page">
                <div class="page_count">总计：8&nbsp;&nbsp;|&nbsp;&nbsp;共1页</div>

            </div>
        </div>
    </div>

{% endblock %}